#add_user_panel, #edit_user_panel, #del_user_panel, #add_sensor_panel, #del_sensor_panel {
	padding: 5px;
	border: solid 1px;
	display: none;
}

#add_user_btn, #edit_user_btn, #del_user_btn, #add_sensor_btn, #del_sensor_btn {
	padding: 5px;
	border: solid 1px;
}
